
<!DOCTYPE html>
<html>
<head>
    <title>Finances</title>
    <link rel="stylesheet" href="/css.css" />

    {{#if user}}
    <script type="text/javascript" defer="defer" src="/dash.js"></script>
    <script type="text/javascript" defer="defer" src="/plot.js"></script>
    {{else}}
    <script type="text/javascript" defer="defer" src="/login.js"></script>
    {{/if}}
</head>

<body>

{{#if user}}

    <div class = "fluid-container">
        <canvas id="myCanvas" ></canvas>
    </div>

    <div class = "fluid-container">
        
        <div id="expensestable">
            
            <div class ="thead">
                <div class="date"        >Date</div>
                <div class="value"       >Value</div>
                <div class="type"        >Type</div>
                <div class="description" >Description</div>
                <div class="button"      ></div>
            </div> 

            <div id="expenseinput">
                <div class="date">
                    <input type="text"   maxlength="10" id="expenseinputdate" >
                </div>
                <div class="value">
                    <input type="text"   maxlength="7"  id="expenseinputvalue" >
                </div>
                <div class="type">
                    <input type="text"   class="type" id="expenseinputtype" >
                </div>
                <div class="description">
                    <input type="text"   class="descritption" id="expenseinputdesc" >
                </div>
                <div class="button">
                    <button class="save" onclick="saveNewExpense()">Save</button>
                </div>  
            </div>

        </div>
    </div>

{{else}}

    <div class = "fluid-container">
        <div id="loginandregister">
            <div>
                <input type="text" class="form-control" placeholder="Username"    id="username">
            </div>
            <div>
                <input type="password" class="form-control" placeholder="Password" id="password">
            </div>
            <div>
                <button class="save" onclick="loginUser()"   >Login</button>
                <button class="edit" onclick="registerUser()">Register</button> 
            </div>

        </div>
    </div>

{{/if}}

</body>

</html>