body {
	max-width:        900px;
	width:            80%;
	margin:           auto;
	padding-top:      10px;
  	font-family:      "Roboto", sans-serif;
  	font-size:        13px;
  	font-weight:      400;
}

button {
    color:            #fff;
    display:          inline-block;
    font-weight:      400;
    line-height:      1.25;
    text-align:       center;
    white-space:      nowrap;
    vertical-align:   middle;
    border:           1px solid transparent;
    border-radius:    .25rem;
    padding:          .5rem 1rem;
    font-size:        13px;
    font-weight:      900;
    width:            100%;
}

button.save {
    background-color: #5cb85c;
    border-color:     #5cb85c;
}

button.edit {
    background-color: #f0ad4e;
    border-color:     #f0ad4e;
}

input {
    font-family:      inherit;
    font-size:        inherit;
    font-weight:      inherit;
}

input.date{
    width:            6em;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}

.hide {
    display:          none !important;
}

/** EXPENSE TABLE **/

#expensestable {
	margin:           0 0 40px 0;
	width:            100%;
	box-shadow:       0 1px 3px rgba(0, 0, 0, 0.2);
	border-collapse:  collapse;
    display:          table;
    background:       #f6f6f6;
    table-layout:     fixed;
}

#expensestable div {
    display:          table-row;
    min-height:       50px;
    padding-top:       3px;
    padding-bottom:    3px;
}

#expensestable div.thead{
    font-size:        1.3rem;
    font-weight:      900;
    color:            #ffffff;
    background:       #2980b9;
}

#expensestable div div {
	padding-left:     15px;
    padding-right:    15px;
    display:          table-cell;
}

#expensestable div div div{
    padding-left:     0;
    padding-right:    0;
}

#expensestable .date {
    width:            10%;
    min-width:        100px;
}
#expensestable .value {
    width:            10%;
    min-width:        90px;
}
#expensestable .type {
    width:            15%;
    min-width:        120px;
}
#expensestable .description {

}
#expensestable .button {
    width:            20%;
    min-width:        120px
}

#expensestable .date input{
    width: 5.8em;
}
#expensestable .value input{
    width: 6em;
}
#expensestable .type input{
    width: 100%;
}
#expensestable .description input{
    width: 100%;
}