body {
	max-width:        1024px;
	width:            95%;
	margin:           auto;
	padding-top:      10px;
  	font-family:      "Roboto", sans-serif;
  	font-size:        1em;
  	font-weight:      400;
}

button {
    color:            #fff;
    display:          inline-block;
    font-weight:      400;
    line-height:      1.25;
    text-align:       center;
    white-space:      nowrap;
    vertical-align:   middle;
    border:           1px solid transparent;
    border-radius:    .25rem;
    padding:          .1rem 1rem;
    font-size:        13px;
    font-weight:      900;
}

/* Colours */

.save {
    background-color: #5cb85c !important;
    border-color:     #5cb85c !important;
}

.edit {
    background-color: #f0ad4e !important;
    border-color:     #f0ad4e !important;
}

.type6 {
    background-color: #1769C3 !important;
}
.type5 {
    background-color: #42529A !important;
}
.type4 {
    background-color: #6D3B71 !important;
}
.type3 {
    background-color: #972447 !important;

}
.type1 {
    background-color: #C20D1E !important;
}
.type0 {
    background-color: #D80109 !important;
}

.hide {
    display:          none !important;
}

.neutral {
    background-color: #ccc !important;
}



/* Login and register */
#loginandregister {
    max-width:        340px;
    padding-top:      20px;
    margin:           auto;
    font-size:        1.6em;
    font-weight:      800px;
}

#loginandregister div{
    margin-top:       10px;
}

#loginandregister button {
    padding:          1rem 1rem;
    width:            50%;
    max-width:        160px;
    font-size:        1.1em;
    font-weight:      800px;
}

#loginandregister input {
    max-width:        320px;
    width:            100%;
    font-weight:      inherit;
    font-size:        inherit;
}

/** EXPENSE TABLE **/
#expensestable {
    width:            100%;
    margin-top:       2em;
    box-shadow:       0 1px 3px rgba(0, 0, 0, 0.2);
	border-collapse:  collapse;  
    background:       #f6f6f6;
    overflow:         hidden;
    margin:           auto;
}

#expensestable .expense {
    width:            20%;
    float:            left;
    margin-top:       5px;
    margin-bottom:    5px;
}

@media (max-width: 1080px) {
    #expensestable .expense {
        width:        25%;
    }
}

@media (max-width: 870px) {
    #expensestable .expense {
        width:        33%;
    }
}

@media (max-width: 667px) {
    #expensestable .expense {
        width:        50%;
    }
}

@media (max-width: 446px) {
    #expensestable .expense {
        width:        100%;
    }
}

#expensestable .expense>div {
    background-color: #0275d8;
    color:            #fff;
    border-radius:    5px;
    min-width:        200px;
    min-height:       200px;
    width:            90%;
    margin:           auto;
    overflow:         hidden;
    position:         relative;
}

#expensestable .expense>div>div{
   width:             90%;
   margin-left:       5%;
   margin-right:      5%;
   margin-top:        0.2em;
   font-weight:       600;
   font-size:         1.1em;
   float:             left;
   overflow:          auto;
}

#expensestable .expense .value {
    font-weight:      800;
    font-size:        34px;   
}

#expensestable .expense .value>div {
    float:            left;
}

#expensestable .expense .description {
    font-weight:      normal;
    font-size:        1.0em;
}

#expensestable .expense .button {
    position:         absolute;
    bottom:           5px;
    left:             0;
}

#expensestable .expense .button button{
    width:            100%;
}

#expensestable .expense input{
    font-weight:      inherit;
    font-size:        inherit; 
    background-color: transparent; 
    border-width:     0px;
    border:           none;
    float:            left;
    width:            90%;
    background-color: rgba(0,0,0,0.1);
}

#expensestable .expense .value input{
    width:            70%;
}




#myCanvas {
    width:            100%;
    height:           200px;
}

